<div class="flex pb-1 header-holder">
  <div class="header flex justify-center w-full header-height border-b border-dashed border-slate-500">
    <div class="container flex flex-row items-center justify-between">
      <img alt="ECOMMERCE" src="assets/images/logo/logo.png">
      <div class="flex flex-row items-center gap-2">
        <button mat-raised-button>Login</button>
        <span class="text-white">** or **</span>
        <button mat-raised-button>Register</button>
        <div class="flex bg-white rounded-full p-1.5 cursor-pointer" matTooltip="Search products">
          <mat-icon>search</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
