<div class="flex navigation-holder pb-1">
  <div class="navigation flex justify-center bg-white w-full navigation-height border-b border-dashed border-slate-500">
    <div class="container flex flex-row items-center justify-between">
      <ul class="flex flex-row h-full">
        <li class="flex items-center" class="flex items-center bg-amber-300 border-b-4 border-gray-800">
          <a class="px-5 navigation-item hover:font-bold" href="#">Home</a>
        </li>
        <li class="flex items-center">
          <a class="px-5 navigation-item hover:font-bold" href="#">Camera</a>
        </li>
        <li class="flex items-center">
          <a class="px-5 navigation-item hover:font-bold" href="#">Electronics</a>
        </li>
        <li class="flex items-center">
          <a class="px-5 navigation-item hover:font-bold" href="#">Clothes</a>
        </li>
      </ul>
      <div class="flex flex-row gap-2 items-center justify-between bg-gray-200 p-1 rounded px-3">
        <img class="h-4" src="assets/images/cart.png">
        <span class="text-gray-500">Cart</span>
        <div class="border-r-2 border-gray-100 h-4"></div>
        <span class="text-sky-600">$0.00</span>
      </div>
    </div>
  </div>

</div>
