/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url(assets/images/bodybg.png)
}

.big-text {
  font-size: 42px;
  font-weight: bold;
}

.mat-select-trigger {
  min-width: 80vw;
}

.mat-select-panel {
  max-height: 32px !important;
}
